/* styles/Home.module.css */

/* Hero Section */
.hero {
    background: linear-gradient(to bottom right, #0044ff, #08771a);
    color: white;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .heroContent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 6px 20px;
  }
  
  .heroText {
    width: 100%;
  }
  
  .heroTextLeft {
    width: 50%;
  }
  
  .heroHeading {
    font-size: 2.25rem; /* Equivalent to text-4xl */
    font-weight: bold;
  }
  
  .heroDescription {
    padding: 1.5rem 0;
    font-size: 1.125rem; /* Equivalent to text-lg */
  }
  
  .heroButton {
    border: 2px solid #16a34a;
    background-color: #16a34a;
    color: white;
    font-size: 1.125rem; /* Equivalent to text-lg */
    padding: 10px 20px;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .heroButton:hover {
    transform: scale(1.05);
    background-color: #1e3d5c; /* Equivalent to hover:bg-green-950 */
    color: white;
    border-color: #16a34a;
  }
  
  /* Border Styling */
  .border {
    border-bottom: 4px solid #e2e2b6;
  }
  
  /* Contact Section */
  .contactSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
  }
  
  .contactText {
    display: flex;
    flex-direction: row;
  }
  
  .contactDescription {
    margin-top: 3rem;
    width: 50%;
    font-size: 1.25rem; /* Equivalent to text-xl */
  }
  
  .contactHeading {
    font-size: 2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
  }
  
  .contactHeading:hover {
    transform: scale(1.05);
  }
  /* For tablets or larger screens */
@media (max-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row on tablets */
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: 1fr; /* 1 item per row on mobile */
  }
}